
/*



background: url(https://campaigns-test.scdn.co/images/premium_dancer.png) right bottom / 450px no-repeat;

background-color: rgb(29, 185, 84);

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: 'Poppins', sans-serif;
    color: #222326;
}

#hero{
    height: 543px;
    background: url(https://campaigns-test.scdn.co/images/premium_dancer.png) right bottom / 450px no-repeat rgb(80, 155, 245);
}

#hero-wrapper{
    width: 1170px;
    min-height: 70vh;


    margin: 0 auto;
    padding: 35px 15px;
    padding-top: 125px;
}

#promo{
    color: white;
    font-size: 7.5rem;

    line-height: 1.2;
    font-weight: 700;
    max-width: 100%;
    margin: 0px;
    padding: 0px;

    width: auto;
    display: inline-block;
}

#cancel{
    color: white;
    font-size: 2.5rem;

    margin: 35px 0;
}

#see-plans{

    width: 200px;
    height: 50px;

    font-size: 1.25rem;
    font-weight: 900;
    letter-spacing: 2px;
    color: white;

    border-radius: 25px;

    background-color: rgb(29, 185, 84);
    border: none;
    outline: none;
}

#terms{
    margin-top: 30px;

    font-size: 1.25rem;
    color: white;
}

#terms a{
    color: white;
}

#benefits{
    height: 654px;
    background-color: white;
}

#benefits-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 80px 100px;
}

#reasons-title{
    font-size: 5rem;
    color: #222326;;
}

.reasons{
    margin-top: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reason{
    width: 285px;
    height: 320px;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.reason-image{
    width: 142px;
    height: 142px;
}
.reason-image img{
    width: 142px;
    height: 142px;
}

.reason-text{
    margin-top: 40px;
}
.reason-title{
    font-size: 2rem;
}
.reason-description{
    font-size: 1.5rem;
    font-weight: 400;
}

#plan{
    height: 1005px;
    background: rgb(248, 248, 248);
}


#choose-title{
    font-size: 4rem;
    color: #222326;;
}

#choose-description{
    font-size: 2rem;
    font-weight: 400;
}

#plan-wrapper{
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 80px 100px;
}

.plans{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    min-width: 100%;
    margin-top: 80px;

    grid-gap: 20px;
}

.plan{
    max-width: 400px;
    width: auto;
    height: 645px;

    padding: 16px;

    background-color: white;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px;
    border-radius: 10px;
}



.top{
    height: 35%;
    border-bottom: 1px solid lightgray;
}
.plan-free-trail{
    background: rgb(46, 119, 208);
    color: white;

    width: 100px;
    height: 30px;
    border-radius: 5px;

    font-size: 1.25rem;
    text-align: center;
    line-height: 30px;

}

.plan-name{
    font-size: 2.5rem;
    margin: 25px 0;
}

.plan-price, .plan-max-accounts{
    font-size: 1.5rem;
    font-weight: 400;

}

.bottom{
    height: 65%;
    position: relative;
}

.services{
    margin: 20px 0;
}

.services li {
    display: flex;
    align-items: center;

    margin: 10px 0;

    color: black;
}

.services p{
    font-size: 1.5rem;
    font-weight: 400;

    margin: 0px 0px 5px 10px;
}

.start-plan{
    width: 80%;
    height: 50px;

    display: block;

    font-size: 1.25rem;
    font-weight: 900;
    letter-spacing: 2px;
    color: white;

    
    position: absolute;
    bottom: 15px;
    left: 50%;

    transform: translate(-50%, -50%);

    border-radius: 25px;


    background-color: rgb(29, 185, 84);
    border: none;
    outline: none;
}

footer{
    height: 112px;
    background-color: black;
}

#footer-wrapper{
    height: 100%;

    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}

#footer-links{
    grid-row-start: 2;

    color: #919496;
}

#select-country{
    grid-column-start: 2;
    grid-row-start: 1;
}
#year{
    grid-column-start: 2;
    grid-row-start: 2;
}

#header{
    position: fixed;
    padding: 20px 7.5%;

    width: 100%;

    transition: 0.5s;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links{
    display: flex;

}

.links a{
    text-decoration: none;
    color: white;
    font-weight: bold;

    font-size: 1.5rem;

    margin: 0 10px 0 20px;
}
.links p{
    text-decoration: none;
    color: white;
    

    margin: 0 10px 0 20px;
}

.logo{
    width: 125px;
    fill: white;
}
